$linear:linear-gradient(266.19deg, rgba(46, 0, 94, 0.5) 0%, rgba(72, 4, 109, 0.5) 100%);
$p:#D289BE;
$b:#61BAA8;
$vi:#9576BE;
$ye:#F6FE87;
$b6557c: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #66557C;
$od4d7b: #8D4D7B;
$linear2: linear-gradient(178.98deg, #3C386B 1.77%, #604E7C 94.71%);
$linear3: linear-gradient(178.98deg, #3C386B 1.77%, #604E7C 94.71%);