<footer class="footer">
   <div class="container">
      <div class="footer__top d-f ai-c jc-sb">
         <h2 class="title">
            Rocket Rush
         </h2>
         <div class="footer__socials">
            <h3>Social networks</h3>
            <ul class="d-f ai-c">
               <li><a href="#">
                     <img src="./../assets/images/twitter.svg" alt="social">
                  </a></li>
               <li><a href="#">
                     <img src="./../assets/images/tg.svg" alt="social">
                  </a></li>
               <li><a href="#">
                     <img src="./../assets/images/soc-one-more.svg" alt="social">
                  </a></li>
            </ul>
         </div>
      </div>
      <div class="buttons">
         <button class="button button--play d-f ai-c jc-c">
            <img src="./assets/images/play-now.svg" alt="play now">
            <span>Play now</span>
         </button>
         <button class="button button--google d-f ai-c jc-c">
            <div class="button--google__logo"></div>
            <span>Google Play</span>
         </button>
      </div>
   </div>
</footer>