<header class="header">
   <nav class="header__nav d-g ai-c ">
      <ul class="header__nav-left d-f ai-c jc-c">
         <li class="header__nav-item"><a href="#features">Features</a></li>
         <li class="header__nav-item"><a href="#about-game">About game</a></li>
         <li class="header__nav-item"><a href="#roadmap">Roadmap</a></li>
      </ul>
      <div class="header__nav-center d-f jc-c">
         <div class="logo ">
            <a href="#">
               <img src="./../assets/images/preloader-logo.svg" alt="logo">
            </a>
         </div>
      </div>

      <ul class="header__nav-right d-f ai-c jc-c">
         <li class="header__nav-item"><a href="#team">Team</a></li>
         <li class="header__nav-item"><a href="#">Whitepaper</a></li>
         <li class="header__nav-item"><a href="#faq">F.A.Q.</a></li>
         <li class="header__nav-item"><a href="#">Presale</a></li>
      </ul>
      <div class="burger">
         <span></span>
         <span></span>
         <span></span>
      </div>
   </nav>
</header>